 $temporada:"default";

 @if($temporada == "summer") {

    .header-container{
        background-image: url("../img/verano.jpg");
    }
 }
 @else if($temporada == "autumn") {  
    .header-container {
    background-image: url("../img/otoño.jpg");
    h1{
        color: yellow;
    }
}
 }

 
 @else if($temporada == "winter") {  
    .header-container {
    background-image: url("../img/invierno2.jpg");
    h1{
        color: rgb(0, 162, 255);
    }
}
 }
 @else if($temporada == "primavera") {  
    .header-container {
    background-image: url("../img/primavera.jpg");
    h1{
        color: rgb(255, 0, 140);
    }
}
 }

 @else if($temporada == "default") {  
    .header-container {
    background-image: url("../img/pared-ladrillo-negro-textura-fondo.jpg");
    h1{
        color: gray;
    }
}
 }




